$black:#161c24;
$white: #fff;
$green: #00c988; 
$blue: #1a2431;
$gray: #202b3a;
$menu-text :#9cacc4;
$background-img: radial-gradient(circle at center, #1a2431 0%, #161c24 100%);
$border: 1px solid #29374b;
$border-color:#29374b;
$gradient :linear-gradient(232deg, #67d9ff 0%, #8371ff 83%);
$radius30 : 30px;
$radius10 : 10px;
$normal-font:16px;
$medium-font:18px;
$heading-font :26px;